# Nintendo Switch Stack
PUID=1000
PGID=1000
TZ=Europe/Stockholm
DOMAIN=yourdomain.com
DATADIR=/home/youruser/dockdata

# Aerofoil
AEROFOIL_ADMIN_NAME=admin
AEROFOIL_ADMIN_PASSWORD=--changeme--
AEROFOIL_GUEST_NAME=guest
AEROFOIL_GUEST_PASSWORD=--changeme--
AEROFOIL_SECRET_KEY=--changeme--

# Aerofoil — sökvägar till din Nintendo-data
NINTENDO_GAMES_DIR=/mnt/4tb/nintendo/games
AEROFOIL_DOWNLOADS_DIR=/mnt/4tb/downloads/aerofoil

# Transmission
TRANSMISSION_USER=--changeme--
TRANSMISSION_PASS=--changeme--
