# Networks Stack
TZ=Europe/Stockholm
DATADIR=/home/youruser/dockdata

# NetAlertX (valfritt – standardvärden används om ej satta)
# LISTEN_ADDR=0.0.0.0
# PORT=20211
# GRAPHQL_PORT=20212
# NETALERTX_UID=20211
# NETALERTX_GID=20211

# WatchYourLAN – nätverksgränssnitt (kör: ip link show)
IFACES=eth0
