# Etc Stack
PUID=1000
PGID=1000
TZ=Europe/Stockholm
DOMAIN=yourdomain.com
DATADIR=/home/youruser/dockdata

# Sökvägar
MUSICDIR=/mnt/4tb/music/files
DOWNLOADSDIR=/mnt/4tb/downloads

# Booklore – databas
BOOKLORE_DB_PASSWORD=--changeme--
BOOKLORE_DB_ROOT_PASSWORD=--changeme--
