# Music Stack
PUID=1000
PGID=1000
TZ=Europe/Stockholm
DOMAIN=yourdomain.com
DATADIR=/home/youruser/dockdata

# Sökvägar
MUSICDIR=/mnt/4tb/music/files
MUSICCACHE=/mnt/4tb/music/cache
MUSICPLAYLISTS=/mnt/4tb/music/playlist
DOWNLOADSDIR=/mnt/4tb/downloads

# Navidrome – Last.fm
ND_LASTFM_APIKEY=--changeme--
ND_LASTFM_SECRET=--changeme--

# Navidrome – Spotify
ND_SPOTIFY_ID=--changeme--
ND_SPOTIFY_SECRET=--changeme--
